<title>I use Tdd so use ng test and ng e2e after you see this beauty</title>
<div class="conteiner">
  <div class="row">
    <div class="col">
      <app-master
        [pizzas]="pizzasCollection"
        (edit)="editPizza($event)"
      ></app-master>
    </div>
    <div class="col">
      <app-details
        #details
        (pizza)="setPizza($event)"
        (reset)="resetCollection()"
      ></app-details>
    </div>
  </div>
  <div class="row">
    {{ jsonPizzaCollection() }}
  </div>
</div>
