<form
  [formGroup]="pizzaForm"
  (submit)="onSubmit()"
  class="col d-flex flex-column"
>
  <div class="d-flex flex-column">
    <label for="pizza-name mr-2">Pizza Name :</label>
    <input
      #pizza
      formControlName="pizza"
      type="text"
      name="pizza-name"
      id="pizza-name"
    />
  </div>
  <div class="d-flex flex-column">
    <label for="pizza-country mr-2">Country :</label>
    <input
      formControlName="country"
      type="text"
      name="pizza-country"
      id="pizza-country"
      #country
    />
  </div>
  <div class="div">
    <button type="submit">
      {{ pizzaForm.controls.isEditing.value ? "Edit" : "Add" }} Pizza
    </button>
    <button type="button" (click)="reset.emit()">Delete All Pizzas</button>
  </div>
</form>
